<h2>LOG IN</h2>
<form method="post" action="/sessions">
	<input type="text" placeholder="Email" name="user[email]">
	<input type="password" placeholder="Password" name="user[password]">
	<input type="submit">
</form>