<h2>SIGN UP</h2>
<form method="post" action="/users">
	<input type="text" placeholder="Name" name="user[name]">
	<input type="text" placeholder="Email" name="user[email]">
	<input type="password" placeholder="Password" name="user[password]">
	<input type="password" placeholder="Password Confirmation" name="user[password_confirmation]">
	<input type="submit">
</form>