<h2>Your Account</h2>
<br>
<div class="container">
	<b>Your name:</b> <%= @current_user.name.capitalize %> <br>
	<b>Your email:</b> <%= @user.email %><br>
<br>
	<h2>Academic Articles on Sentiment Analysis</h2>
	<p><a href="http://iswc2012.semanticweb.org/sites/default/files/76490497.pdf">Semantic Sentiment Analysis of Twitter</a> - Hassan Saif, Yulan He and Harith Alani
	</p>
	<p><a href="http://wwwhome.cs.utwente.nl/~hiemstra/papers/semeval2013.pdf">An Experimental Study on Sentiment Analysis in Twitter
	</a> - Zhemin Zhu, Djoerd Hiemstra, Peter Apers, Andreas Wombacher
	</p>
	<p>
	<a href="http://www.cs.cornell.edu/home/llee/omsa/omsa-published.pdf">Opinion Mining and Sentiment Analysis</a> - Bo Pang, Lillian Lee</p>
	<br>
</div>