<h2>Your Account</h2>
<br>
<div class="container">
	<b>Your name:</b> <%= @current_user.name.capitalize %> <br>
	<b>Your email:</b> <%= @user.email %><br>
<br><br>
	<h2>What is Sentiment Analysis?</h2>
	<p>"Sentiment analysis (also known as opinion mining) refers to the use of natural language processing, text analysis and computational linguistics to identify and extract subjective information in source materials. Generally speaking, sentiment analysis aims to determine the attitude of a speaker or a writer with respect to some topic or the overall contextual polarity of a document. The attitude may be his or her judgment or evaluation, affective state (that is to say, the emotional state of the author when writing), or the intended emotional communication (that is to say, the emotional effect the author wishes to have on the reader)." - <a href="http://en.wikipedia.org/wiki/Sentiment_analysis">Wiki</a></p>
<br>
	<h2>Academic Articles on Sentiment Analysis</h2>
	<p><a href="http://iswc2012.semanticweb.org/sites/default/files/76490497.pdf">Semantic Sentiment Analysis of Twitter</a> - Hassan Saif, Yulan He and Harith Alani
	</p>
	<p><a href="http://wwwhome.cs.utwente.nl/~hiemstra/papers/semeval2013.pdf">An Experimental Study on Sentiment Analysis in Twitter
	</a> - Zhemin Zhu, Djoerd Hiemstra, Peter Apers, Andreas Wombacher
	</p>
	<p>
	<a href="http://www.cs.cornell.edu/home/llee/omsa/omsa-published.pdf">Opinion Mining and Sentiment Analysis</a> - Bo Pang, Lillian Lee</p>
	<br>
</div>